@using LIMSBlazor.Data
@using Microsoft.AspNetCore.Identity;
@page "/config/roledelete/{id}"
@inject IAspNetRoleService AspNetRoleService
@inject NavigationManager NavigationManager

<DataEdit FormType="Delete" PageTitle="Удалить роль из базы данных" DeleteWarning="Вы уверены что хотите удалить эту роль? Данные нельзя будет вернуть!" Model="@aspNetRole" OnClickDelete="@Delete" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Название:</td>
            <td>@aspNetRole.Name</td>
        </tr>
    </table>
</DataEdit>


@code {
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    IdentityRole aspNetRole;

    [Parameter]
    public string id { get; set; }

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        aspNetRole = await AspNetRoleService.AspNetRole_GetOne(id);
    }

    /// <summary>
    /// Задача удаляющая запись из БД
    /// </summary>
    protected async Task Delete()
    {
        await AspNetRoleService.AspNetRoleDelete(id);
        NavigationManager.NavigateTo("/config/rolelist");
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("/config/rolelist");
    } 
}
