@using Microsoft.AspNetCore.Identity;
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="content px-4">
                    @Body
                </div>
            </Authorized>
            <NotAuthorized>
                <div>
                    <p>
                        Вы не авторизованы, пожалуйста авторизуйтесь для начала работы.
                    </p>
                    <LIMSBlazorSever.Pages.LoginForm/>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>