@page "/analysis/"

<h1>Анализ</h1>

<div class="alert alert-info" role="alert">
    <h5>Результаты на анализ</h5>
    <p>содержит список заявок и их результатов готовых к анализу.</p>
</div>

@code {
    
}
