@page "/Client/"

<h1>Заявки</h1>

<div class="alert alert-info" role="alert">
    <h5>Результаты</h5>
    <p>Содержит список заявок и их результаты, в соответствии авторизованным пользователем.</p>
</div>

@code {
    
}
