@page "/confirmation/"

<h1>Подтверждение</h1>

<div class="alert alert-info" role="alert">
    <h5>Заключение</h5>
    <p>Содержит список заявок готовых к заключительной проверке и окончанию работ.</p>
</div>

@code {
    
}
