@page "/"

<h1>Главная страница!</h1>
<p>
LIMS (сокр. от англ. Laboratory Information Management System, система управления лабораторной информацией) — программное обеспечение, предназначенное для управления лабораторными потоками работ и документов. Оно оптимизирует сбор, анализ, возврат и отчетность лабораторных данных. Часто применяется вместе с MES-системами, особенно в фармацевтической и пищевой промышленности.
Русскоязычным вариантом данного термина является ЛИС, что расшифровывается как «лабораторная информационная система» или ЛИУС («лабораторная информационно-управляющая система»).
Назначением ЛИС является получение достоверной информации по результатам испытаний и оптимизации управления этой информацией с целью её использования для принятия корректных своевременных управленческих решений.
</p>
