@page "/LoginForm"

<h3>Форма авторизации</h3>
<form method="post" action="Identity/Account/LogIn">
    <input type="text" name="userName" >
    <input type="password" name="password">
    <button type="submit">Login</button>
 </form>

