@*page "/config/myusers"
@using Microsoft.AspNetCore.Identity;
@using System.Threading.Tasks
@inject RoleManager<IdentityRole> roleManager

<h3>MyUserList</h3>
<button type="submit" @onclick="AddUser" class="btn btn-primary">Add user</button>
<table>
    @if (roleList == null)
    {
        <p style="text-align:center">
            <img src="../images/loader.gif" />
        </p>
    }
    else
    {
        @foreach (var item in roleList)
        {
            <tr @key="@item.Id">
                <td>@item.Name</td>
            </tr>
        }
    }
</table>

@code {
    List<IdentityRole> roleList;

    protected override async Task OnInitializedAsync()
    {
        roleList = roleManager.Roles.ToList();
    }

    private async void AddUser()
    {
        try
        {
            await roleManager.CreateAsync(new IdentityRole { Name = "TTT3", NormalizedName = "TTT3" });
            roleList = roleManager.Roles.ToList();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}*@
