@page "/config/myusers"
@using System.Linq;
@using Microsoft.AspNetCore.Identity;
@using System.Threading.Tasks;
@inject UserManager<IdentityUser> userManager;

<h3>MyUserList</h3>
<button type="submit" @onclick="AddUser" class="btn btn-primary">Add user</button>
<table>
    @if (userList == null)
    {
        <p style="text-align:center">
            <img src="../images/loader.gif" />
        </p>
    }
    else
    {
        @foreach (var item in userList)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PasswordHash</td>
            </tr>
        }
    }
</table>

@code {
    List<IdentityUser> userList;

    protected override async Task OnInitializedAsync()
    {
        userList = userManager.Users.ToList();
    }

    async void AddUser()
    {
        try
        {
            IdentityUser identityUser = new IdentityUser();
            identityUser.UserName = "Паша";
            identityUser.Email = "admin@mail.ru";
            string Password = "Admin12!";
            await userManager.CreateAsync(identityUser, Password);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}
