@page "/config/myusers"
@using System.Linq;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Identity;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity;
@using System.Threading.Tasks;
@inject RoleManager<IdentityRole> roleManager;
@*@inject UserManager<IdentityUser> userManager;*@

<h3>MyUserList</h3>
<button type="submit" @onclick="AddUser" class="btn btn-primary">Add user</button>
<table>
    @*@if (userList == null)
        {
            <p style="text-align:center">
                <img src="../images/loader.gif" />
            </p>
        }
        else
        {
            @foreach (var item in userList)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.PasswordHash</td>
                </tr>
            }
        }*@
</table>

@code {
    //List<IdentityUser> userList;

    protected override async Task OnInitializedAsync()
    {
        //userList = userManager.Users.ToList();
    }

    async void AddUser()
    {
        try
        {
            //IdentityUser identityUser = new IdentityUser();
            await roleManager.CreateAsync(new IdentityRole { Name = "Admin", NormalizedName = "ADMIN" });
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}
