@page "/samplelog/"

<h1>Пробы</h1>

<div class="alert alert-info h4" role="alert">
    В этом разделе предоствалены все материалы об пробах.
    <ul class="list h5">
        <li>
            Журнал проб - содержит список проб и их время получения, время начала тестов, клиента, тип пробы, количество проб, статус, готовность, записку, место взятия пробы, причины изменений, время создания, время последних изменений, кем созданно, кем измененно, дата готовности, пользователь потверддивший готовность.
            <ul>
                <li>Атрибуты испытания - содержит Id испытания и его атрибуты, значения, время создания, время последних изменений, кем созданно, кем измененно.</li>
            </ul>
        </li>
    </ul>
</div>

@code {
    
}
