@using LIMSBlazor.Data
@page "/config/sampletype/sampletypeanalyticaldelete/{SampleTypeId:int}/{AnalyticalServiceId:int}"
@inject ISampleTypeAnalyticalService SampleTypeAnalyticalService
@inject ISampleTypeService SampleTypeService
@inject IAnalyticalServService AnalyticalServService
@inject NavigationManager NavigationManager

<DataEdit FormType="Delete" PageTitle="Удалить аналитический сервис типа испытания" DeleteWarning="Вы уверены что хотите удалить этот аналитический сервис типа испытания? Данные нельзя будет вернуть!" Model="@sampletypeanalytical" OnClickDelete="@Delete" OnClickCancel="@Cancel">
    <table>
        <tr>
            <td>Тип пробы:</td>
            <td>@sampletypes?.Where(x => x.Id == sampletypeanalytical.SampleTypeId).FirstOrDefault()?.Name</td>
        </tr>
        <tr>
            <td>Аналитический сервис:</td>
            <td>@analyticalservs?.Where(x => x.Id == sampletypeanalytical.AnalyticalServiceId).FirstOrDefault()?.Name</td>
        </tr>
    </table>
</DataEdit>

@code { 
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    SampleTypeAnalytical sampletypeanalytical = new SampleTypeAnalytical();
    IEnumerable<SampleType> sampletypes;
    IEnumerable<AnalyticalServ> analyticalservs;

    [Parameter]
    public int SampleTypeId { get; set; }
    [Parameter]
    public int AnalyticalServiceId { get; set; }

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        sampletypeanalytical = await SampleTypeAnalyticalService.SampleTypeAnalytical_GetOne(SampleTypeId, AnalyticalServiceId);
        sampletypes = await SampleTypeService.SampleTypeList();
        analyticalservs = await AnalyticalServService.AnalyticalServList();
    }

    /// <summary>
    /// Задача удаляющая запись из БД
    /// </summary>
    protected async Task Delete()
    {
        // Insert if id is zero.
        await SampleTypeAnalyticalService.SampleTypeAnalyticalDelete(SampleTypeId, AnalyticalServiceId);
        NavigationManager.NavigateTo("config/sampletype/sampletypeanalyticallist/" + SampleTypeId);
    }

    /// <summary>
    /// Отмена изменений и возвращение на прошлую страницу
    /// </summary>
    void Cancel()
    {
        NavigationManager.NavigateTo("config/sampletype/sampletypeanalyticallist/" + SampleTypeId);
    } 
}
