USE [LIMS]
GO
/****** Object:  StoredProcedure [dbo].[spResults_GetAll]    Script Date: 11.03.2021 19:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spResults_GetAll]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT        Id, SampleId, AnalyticalServiceId, ValueNo, Value, IsFinal, Note, CreateTime, UpdateTime, CreateUser, UpdateUser
FROM            Results
END
GO
