@page "/config/"

<h1>Конфигурация</h1>

<div class="alert alert-info" role="alert">

    <h5>Лаборатории</h5>
    <p>Cодержит список лабораторий, их код наименование, местоположение и описание.</p>
    <h5>Клиенты</h5>
    <p>Содержит список имён и полных имён клиента, номера телефонов, организации клиентов.</p>
    <ul class="list-unstyled">
        <li>
            <h5>Пользователи</h5>
            <p>Содержит список имён и полных имён пользователей, номера телефонов, пароли.</p>
        </li>
        <ul>
            <li>
                <h6>Роли назначенные пользователю</h6>
                <p>Содержит имя пользователя и лабораторий, роли пользователя в этих лабораториях.</p>
            </li>
        </ul>
    </ul>
    <h5>Роли пользователей</h5>
    <p>Содержит список наименований ролей и их описаний.</p>
    <ul class="list-unstyled">
        <li>
            <h5>Типы испытательного оборудования</h5>
            <p>Содержит список наименований типов оборудования и их описаний.</p>
        </li>
        <ul>
            <li>
                <h6>Элементы спецификации оборудования</h6>
                <p>Содержит тип оборудования и связанные с ним аналитические сервисы.</p>
            </li>
        </ul>
    </ul>
    <h5>Оборудование</h5>
    <p>Содержит список названий оборудования и его тип, серийный номер, статус, лаборатория где установлен.</p>
    <h5>Места взятия проб</h5>
    <p>Содержит список мест, где были взяты пробы.</p>
    <h5>Категории аналитических сервисов</h5>
    <p>Содержит список наименований аналитических сервисов и их описание.</p>
    <h5>Еденицы измерения</h5>
    <p>Содержит список наименований единиц измерения и их скалаяцию к указанной базовой единице измерения.</p>
    <h5>Атрибуты</h5>
    <p>Содержит список наименований атрибутов и их описание, тип, опцию.</p>
    <ul class="list-unstyled">
        <li>
            <h5>Типы образцов испытаний</h5>
            <p>Содержит список наименований типов образцов испытания и их описание.</p>
        </li>
        <ul>
            <li>
                <h6>Атрибуты типа испытания</h6>
                <p>Содержит тип пробы и его атрибуты.</p>
            </li>
        </ul>
    </ul>
    <ul class="list-unstyled">
        <li>
            <h5>Аналитические сервисы</h5>
            <p>Содержит список наименований аналитических сервисов и их категорий, единиц измерения, описаний.</p>
        </li>
        <ul>
            <li>
                <h6>Атрибуты аналитического сервиса</h6>
                <p>Содержит аналитический сервис и его атрибуты.</p>
            </li>
        </ul>
    </ul>
    <ul class="list-unstyled">
        <li>
            <h5>Спецификации</h5>
            <p>Содержит список наименований спецификаций и их версии, описание.</p>
        </li>
        <ul>
            <li>
                <h6>Элемент спецификации</h6>
                <p>Содержит спецификацию и его аналитические сервисы, минимальное и максимальное значение.</p>
            </li>
        </ul>
    </ul>
</div>

@code {

}
