@page "/config/"

<h1>Конфигурация</h1>

<div class="alert alert-info" role="alert">
    <ul class="list">
        <li>
            <h5>Лаборатории</h5>
            <p>Cодержит список лабораторий, их код наименование, местоположение и описание.</p>
        </li>
        <li><h5>Клиенты</h5><p>содержит список имён и полных имён клиента, номера телефонов, организации клиентов.</p></li>
        <li>
            <h5>
                Пользователи
            </h5><p>
                содержит список имён и полных имён пользователей, номера телефонов, пароли.
            </p>
            <ul>
                <li>
                    <h5>Роли назначенные пользователю</h5>
                    <p>содержит имя пользователя и лабораторий, роли пользователя в этих лабораториях.</p>
                </li>
            </ul>
        </li>
        <li><h5>Роли пользователей</h5><p>содержит список наименований ролей и их описаний.</p></li>
        <li>
            <h5>
                Типы испытательного оборудования
            </h5><p>
                содержит список наименований типов оборудования и их описаний.
            </p>
            <ul>
                <li>
                    <h5>Элементы спецификации оборудования</h5>
                    <p>содержит тип оборудования и связанные с ним аналитические сервисы.</p>
                </li>
            </ul>
        </li>
        <li><h5>Оборудование</h5><p>содержит список названий оборудования и его тип, серийный номер, статус, лаборатория где установлен.</p></li>
        <li><h5>Места взятия проб</h5><p>содержит список мест, где были взяты пробы.</p></li>
        <li><h5>Категории аналитических сервисов</h5><p>содержит список наименований аналитических сервисов и их описание.</p></li>
        <li><h5>Еденицы измерения</h5><p>содержит список наименований единиц измерения и их скалаяцию к указанной базовой единице измерения.</p></li>
        <li><h5>Атрибуты</h5><p>содержит список наименований атрибутов и их описание, тип, опцию.</p></li>
        <li>
            <h5>
                Типы образцов испытаний
            </h5><p>
                содержит список наименований типов образцов испытания и их описание.
            </p>
            <ul>
                <li>
                    <h5>Атрибуты типа испытания</h5>
                    <p>содержит тип пробы и его атрибуты.</p>
                </li>
            </ul>
        </li>
        <li>
            <h5>
                Аналитические сервисы
            </h5><p>
                содержит список наименований аналитических сервисов и их категорий, единиц измерения, описаний.
            </p>
            <ul>
                <li>
                    <h5>Атрибуты аналитического сервиса</h5>
                    <p>содержит аналитический сервис и его атрибуты.</p>
                </li>
            </ul>
        </li>
        <li>
            <h5>
                Спецификации
            </h5><p>
                содержит список наименований спецификаций и их версии, описание.
            </p>
            <ul>
                <li>
                    <h5>Элемент спецификации</h5>
                    <p>содержит спецификацию и его аналитические сервисы, минимальное и максимальное значение.</p>
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {

}
