@using LIMSBlazor.Data
@page "/config/samplespeclist"
@inject ISampleSpecService SampleSpecService

<DataView PageTitle="Список спецификаций" UrlAdd="config/samplespecaddedit"  UrlAddText="Добавить новую спецификацию">
    <Header>
        <tr>
            <td style="text-align:center">#</td>
            <td>Id</td>
            <td>Наименование</td>
            <td>Версия</td>
            <td>Описание</td>
        </tr>
    </Header>
    <Rows>
        @if (samplespecs == null)
        {
            <p style="text-align:center">
                <img src="../images/loader.gif" width="50" height="50" />
            </p>
        }
        else
        {
            @foreach (var samplespec in samplespecs)
            {
                <tr>
                    <td style="text-align:center">
                        <a href="config/samplespecaddedit/@samplespec.Id">
                            <img src="../images/iEdit.png" width="20" height="20" />
                        </a>
                        &nbsp
                        <a href="config/samplespecdelete/@samplespec.Id">
                            <img src="../images/iTrash.png" alt="Delete" title="Delete" width="20" height="20" />
                        </a>
                        &nbsp
                        <a href="config/samplespec/samplespecanalyticallist/@samplespec.Id">
                            <img src="../images/downArrow.png" title="Add attribute" width="20" height="20" />
                        </a>
                    </td>
                    <td>@samplespec.Id</td>
                    <td>@samplespec.Name</td>
                    <td>@samplespec.Version</td>
                    <td>@samplespec.Description</td>
                </tr>
            }
        }
    </Rows>
</DataView>

@code {
    /// <summary>
    /// Создаём необходимые компоненты
    /// </summary>
    IEnumerable<SampleSpec> samplespecs;

    /// <summary>
    /// Исполняемая при запуске страницы задача
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        samplespecs = await SampleSpecService.SampleSpecList();
    }
}
